::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  background:linear-gradient(#ff0000,#00ff00);
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}
::-webkit-scrollbar-thumb:hover{
  background:linear-gradient(#00ff00,#ff0000);
  border-radius:5px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  -o-border-radius:5px;
}